<div class="row">
		<div class="col-12 px-0" >
	<footer class="container-fluid text-white"  style="text-align: right;background-color:rgba(0,0,0,0.3)">copyright @bakchodi pvt lmt</footer >
		</div>
		</div>