
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<%- include('./includes/links'); %>
	<link rel="stylesheet" type="text/css" href="/public/css/about.css">
</head>
<body>
		<%- include('./includes/navbar'); %>
	<div class="container-fluid">
		<h1 class="text-white">Welcome to the Patna Sahib Technial Campus</h1>
		<div class="jumbotron">
			<h3 style="text-shadow: 1px 1px 1px black; word-spacing: 8px;">About PSTC</h3>
			<p style="border-left: 5px solid red; word-spacing: 5px; padding-left: 8px;">Patna Sahib Technical college provides a best platform to grow your wings that takes you higher in your <br>
			Established in 2012 by Sudhanshu Ranjan, PSTC today ranks as one of the Bihar's most prestigious institutions. Located on a very big and beautiful campus with nearly 2 buildings. Take a complimentary walking tour with a student guide to see the campus's buldings, labs, canteen, class rooms and library. During the tour, you can learn about student life, the academic programs offered, and  extracurricular activities. Join an organized games tour to see more of the campus's grounds. <br> <br>The Internet Connectivity with Campus wide area Networking enables access from anywhere within the college Campus. The Internet connectivity is extended to Hostels with Wi-Fi Connectivity through RUCUS wireless routers to facilitate 24X7 accesses to the Internet</p>
		</div>
		<h2 class="text-dark">Infrastructure</h2>
		<p style="word-spacing: 5px; line-height: 30px" class="text-white border border-dark">The college has its own campus at Bhagwanpur(Vaishali) Bihar.The Buildings have been professionally designed keeping in mind all parameters of a high quality College.

		The class –rooms in the campus are designed in a manner that each student participant feels comfortable enough to actively contribute his/her best during lecture and workshop sessions. Every single infrastructure element reflects a lot of thought that is ultimately linked to provide high quality technical education in the country.

		The colleges firmly believe that instructors, while teaching,must never lose sight of even a single participant keeping this in mind ,the class-rooms are specially designed to provide enough space to instructors to maintain eye contacts .In order to further enrich the teaching-learning process, the class rooms have provision for specialized audio –visual aids like overhead projectors, multimedia, video and audio.

		In addition ,there are tutorial halls where participants meet their instructors in groups and brainstorm over important academic and co-curricular issues. Other forms of educational delivery systems like interactive sessions, workshops,seminars,leadership exercises, technical games ,mock interviews ,meetings and role –plays are organized at venues within the campus specially designed for such purposes.</p>
		<div class="carousel slide" data-ride="carousel" id="gal">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img id = "image" src="/public/images/about/1.jpg">
				</div>
				<div class="carousel-item">
					<img id = "image" src="/public/images/about/2.jpg">
				</div>
				<div class="carousel-item">
					<img id = "image" src="/public/images/about/33.png">
				</div>
			</div>
		</div>
		<h2 class="text-dark">Transport</h2>
		<p style="word-spacing: 5px; line-height: 30px" class="text-white border border-dark">Transport facility is available on payment basis, to students and employees from all major destinations in Patna city and adjoining areas. The service is outsourced to a professional service provider and is controlled by Administration department of the college. Quaity of transport is very good as they are always on time and hiring all proffessional drivers. Fuculties also travel by the same buses so that students feel secure and home like enviroment.</p>
		<h2 class="text-dark">Laboratory</h2>
		<p style="word-spacing: 5px; line-height: 30px" class="text-white border border-dark">
			PSTC is completely connected with excellent Wi-Fi network. It has advanced IT facilities with adequate systems loaded with licensed Operating Systems and Software Packages. The network infrastructure is being served by HP Servers, Servers including Domain Controllers, DNS Servers, Mail Server, Proxy Server, Database Server and Print Server. The power infrastructure is supported with heavy duty uninterrupted power supply for all systems and servers to avoid data loss.
			The internet facility at PSTC is one of its prominent features. The entire campus has broadband internet connection. Fast internet connectivity plays an important role in facilitating the academic as well as research and development activities for the faculty and students at the institute.
			Members of the PSTC family can access the internet round the clock in the campus. PSTC is equipped with latest multimedia facilities like electronic smart boards, location-sensing microphones, multimedia LCD projectors, overhead projectors, scanners, DVD writers, laser printers, digital cameras etc. The computer labs are equipped with state of the art Core2Duo computers with the latest software’s including SPSS required for various applications. All computers are interconnected on WAN and are connected to the internet in turn. The University has established its own Radio Microwave Link facility with a high speed via RF computer for academic use.
		</p>
		<br><br>
		<%- include('./includes/footer'); %>
	</div>
</body>
</html>