<html>
	<head>
		<%- include('./includes/links'); %>
	<link rel="stylesheet" type="text/css" href="/public/css/branch.css">
</head>
<body>
		<%- include('./includes/navbar'); %>
	<div class="container">
		<div class="card-columns">
			<a href="teacher"><div class="card">

				<div class="card-body bg-info">
					<img src="/public/images/branch/cs.jpeg" class="card-image">
					<br> <br>
					<h3 class="card-header">Computer Sci</h3>
					<p class="card-text">"The computer was born to solve problems that did not exist before"<br>
<cite>~Bill Gates</cite></p>
				</div>
			</div></a>
			<a href="#"><div class="card">

				<div class="card-body bg-danger">
					<img src="/public/images/branch/tronic.jpeg" class="card-image">
					<br> <br>
					<h3 class="card-header">Electronics</h3>
					<p class="card-text">"Other kids went out and beat each other up,and i built electronics"
<br>
<cite>~Robert Moog</cite></p>
				</div>
			</div></a>
			<a href="#"><div class="card">

				<div class="card-body bg-warning">
					<img src="/public/images/branch/Civil.jpg" class="card-image">
					<br> <br>
					<h3 class="card-header">Civil</h3>
					<p class="card-text">"We shape our buildings,thereafter they shape us"<br>
<cite>~Winston Churchill</cite></p>
				</div>
			</div></a>
			<a href="#"><div class="card">

				<div class="card-body bg-primary">
					<img src="/public/images/branch/mech.jpeg" class="card-image">
					<br> <br>
					<h3 class="card-header">Mechanical</h3>
					<p class="card-text">"You can create some soul out of 
something that's <br> mechanical"
<br>
<cite>~Brendon Urie</cite></p>
				</div>
			</div></a>
			<a href="#"><div class="card">

				<div class="card-body bg-success">
					<img src="/public/images/branch/Electric.png" class="card-image">
					<br> <br>
					<h3 class="card-header">Electrical</h3> 
					<p class="card-text">"When i was growing up, i installed refrigerators. My father was an engineer"
<br>
<cite>~Will Smith</cite></p>
				</div>
			</div></a>
		</div>
	</div>
	<div class=" container-fluid">
            <%- include('./includes/footer'); %>
            </div>
</body>
</html>