<!DOCTYPE <!DOCTYPE html>
<html>
<head>
        <%- include('./includes/links'); %>
    <style type="text/css">
        body{
            background-color: #103c42;
        }
    </style>
</head>
<body>
        <%- include('./includes/navbar'); %>
    <div class="container">
        <h1 class="display-4 text-white">Contacts</h1>
        <div class="text-white">
            <h3>PATNA SAHIB TECHNICAL CAMPUS</h3>
            <p>Address<br>Bhagwanpur, Vaishali<br>Patna-Muzaffarpur Highway<br>844114</p>
            <p><i class="fa fa-volume-control-phone"></i>--827-107-4738</p><br>
        </div>
        <div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.023814072159!2d85.28525421452575!3d25.868693610478317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed69f67154d52f%3A0x35bee0b12d42578c!2sPatna+Sahib+Group+Of+Engineering+College!5e0!3m2!1sen!2sin!4v1557303065344!5m2!1sen!2sin" style = "width : 100%; height:300px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>    
    <br>
            <div class=" container-fluid">
            <%- include('./includes/footer'); %>
            </div>


</body>
</html>